@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
}


<div style="padding-left:200px" class="container my-5">
    <h1>Create</h1>
    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">


        <div class="form-group my-3">
            <label>Add Offer</label>
            <input class="form-control" id="customFile" asp-for="Offer">
            <span class="text-danger" asp-validation-for="Offer"></span>
        </div>

        <div class="form-group my-3">
            <label>Add Title</label>
            <input class="form-control" id="customFile" asp-for="Title">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>

        <div class="form-group my-3">
            <label>Add Description</label>
            <input class="form-control" id="customFile" asp-for="Description">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group my-3">
            <label>Add Photo</label>
            <input class="form-control" id="customFile" asp-for="Photo">
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>
        <div class="form-group my-3">
            <label>Add BackGroundPhoto</label>
            <input class="form-control" id="customFile" asp-for="BackGroundPhoto">
            <span class="text-danger" asp-validation-for="BackGroundPhoto"></span>
        </div>

        <div class="my-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>

