@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassWord";
   
}


<div class="container mt-5 mb-5">
    <div class="col-lg-12">

        <form asp-action="ForgotPassword" method="post">
            <div class="login-form">
                <h4 class="login-title">Login</h4>
                <div class="row">
                    <div class="col-lg-6">

                        <label>Email Address*</label>
                        <input type="email" asp-for="Email" placeholder="Email Address" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="col-lg-12 pt-5">
                        <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>