@model LoginVM


@{
    ViewData["Title"] = "Login";
}
<main class="main-content">

    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">

                <div class="ol-lg-12 pt-5 pt-lg-0">


                    <div class="col-lg-12">
                        <div class="text-danger"
                             asp-validation-summary="All"></div>
                        <form method="post" asp-action="Login">
                            <div class="login-form" style="margin-bottom:25px;margin-left:300px;margin-right:300px;margin-top:60px">
                                <h4 class="login-title">Login</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Email Address*</label>
                                        <input autocomplete="off" asp-for="EmailOrUserName" placeholder="Email Address or UserName" />
                                        <span class="text-danger"
                                              asp-validation-for="EmailOrUserName"></span>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Password</label>
                                        <input autocomplete="off" asp-for="Password"
                                               placeholder="Password" />
                                        <span class="text-danger"
                                              asp-validation-for="Password"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="check-box">
                                            <input type="checkbox"
                                                   id="remember_me" />
                                            <label for="remember_me">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pt-1 mt-md-0">
                                        <div class="forgotton-password_info">
                                            <a asp-action="ForgotPassWord" method="get"> Forget password?</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 pt-5">
                                        <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts{


    <partial name="_ValidationScriptsPartial" />



}


@*
@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<style>
    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #84fab0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #84fab0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
</style>



<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Login</h2>

                            <form asp-controller="Account" asp-action="Login" method="post">

                                <div class="text-danger" asp-validation-summary="All"></div>



                                <div class="form-outline mb-3">
                                    <input autocomplete="off" placeholder="Username" id="form3Example3cg" asp-for="EmailOrUsername" class="form-control form-control-lg" />
                                    <span class="text-danger" asp-validation-for="EmailOrUsername"></span>
                                </div>

                                <div class="form-outline mb-3">
                                    <input autocomplete="off" placeholder="Password" id="form3Example4cg" asp-for=Password class="form-control form-control-lg" />
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>


                                <div class="form-check d-flex">
                                    <label style="margin-top:6px">RememberMe</label>  <input type="checkbox" asp-for="RememberMe" style="margin-left:20px;width:13px" id="form2Example3cg" />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Login
                                    </button>
                                </div>



                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}*@